body {
    font-family:  Trebuchet MS, san-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: rgb(74, 157, 230);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size:16px;
}

#submit {
    height: 30px;
    border: 1px solid grey;
    border-radius:5px;
    font-family:Trebuchet MS, san-serif; 
    font-size: 16px;
    cursor:pointer;
    }
#submit:hover {
    background-color:navy;
    color:white;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: #4CAF50;
    margin-top: 10px;
}